aiohttp==1.1.1
async-timeout==1.1.0
beautifulsoup4==4.5.1
chardet==2.3.0
click==6.6
Flask==0.11.1
Flask-Login==0.3.2
Flask-Script==2.0.5
Flask-WTF==0.13.1
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.4
MarkupSafe==0.23
multidict==2.1.2
nltk==3.2.1
numpy==1.11.2
psycopg2==2.6.2
requests==2.11.1
scikit-learn==0.18.1
scipy==0.18.1
Werkzeug==0.11.11
WTForms==2.1
yarl==0.7.0