<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bibliognost{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='local/css/style.css') }}">
    </head>

    <body>


        <script src="{{ url_for('static', filename='vendor/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/semantic/dist/semantic.min.js') }}"></script>
    </body>
</html>