<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Flaskr{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic/dist/semantic.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='local/css/style.css') }}">
    </head>

    <body>
        <div class="ui large top fixed menu borderless" id="navbar">
            <div class="ui container">
                <div class="header item">
                    Flaskr
                </div>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('flaskr.profile', user_id=current_user.id) }}"
                   class="ui right floated item
                         {% if request.path ==  url_for('flaskr.profile', user_id=current_user.id)%}
                         active underline
                         {% endif %}">
                    <img class="ui circular image"
                         src="{{ current_user.gravatar(size=24) }}"
                         style="margin-right: 10px;">
                    {{ current_user.get_first_name() }}
                </a>
                <a href="{{ url_for('auth.logout') }}" class="item">
                    Logout
                </a>
                {% else %}
                <a href="{{ url_for('auth.login') }}"
                   class="ui right floated item
                          {% if request.path ==  url_for('auth.login')%}
                          active underline
                          {% endif %}">
                    Login
                </a>
                <a href="{{ url_for('auth.register') }}"
                   class="item
                          {% if request.path ==  url_for('auth.register')%}
                          active underline
                          {% endif %}">
                    sign up
                </a>
                {% endif %}
            </div>
        </div>

        <div class="ui container" id="page-contents">
            {% block content %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='vendor/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/semantic/dist/semantic.min.js') }}"></script>
    </body>
</html>