{% extends 'base.html' %}

{% block content %}
    <div class="ui stackable three column centered grid">
        <div class="column">
            {% for message in get_flashed_messages() %}
            <div class="ui negative message">
                <div class="header">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <div class="ui raised segment">
                <h3 class="ui large blue right ribbon label">
                    Login
                </h3>
                <br><br>
                <form action="" method="post" class="ui form">
                    {{ login_form.hidden_tag() }}
                    <div class="field {% if login_form.email.errors %}error{% endif %}">
                        {{ login_form.email(placeholder='Email') }}
                        {% if login_form.email.errors %}
                        <div class="ui pointing red basic label">
                            {% for error in login_form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="field {% if login_form.password.errors %}error{% endif %}">
                        {{ login_form.password(placeholder='Password') }}
                        {% if login_form.password.errors %}
                        <div class="ui pointing red basic label">
                            {% for error in login_form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            {{ login_form.remember_me() }}
                            <label><strong>Remember me</strong></label>
                        </div>
                    </div>
                    <button class="ui blue button" type="submit">Login</button>
                </form>
                <div class="ui divider"></div>
                <div class="text-center">
                    <strong>
                        <a href="#">forgot password</a> |
                        <a href="{{ url_for('auth.register') }}">create an account</a>
                    </strong>
                </div>
            </div>
        </div>
    </div>
{% endblock %}