* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    /*font-family: 'Lato', sans-serif;*/
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.container {
    width: 90%;
}

/*---------HEADINGS---------*/
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    font-size: 240%;
    word-spacing: 4px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin: 5px 0px 10px 0px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/book-cover.jpg);
    /* show the entire image, do not zoom in */
    background-size: cover;
    background-position: center;
    /* Fill the entire view port with the image */
    height: 100vh;
}

nav {
    opacity: 0.9;
}

#main-nav {
    background: #FFF;
    opacity: 0.85;
}

.brand-logo img {
    padding-top: 8px;
    width: 48px;
    height: 48px;
}

.hero-text-box {
    position: absolute;
    width: 100%;
    top: 40%;
    transform: translate(0, -50%);
}

.hero-text-box h1, h3 {
    color: #fff;
    text-align: center;
}

.hero-text-box nav {
    color: #777;
    margin-top: 35px; 
    background: #e74c3c;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
}

.hero-text-box nav .input-field input {
    margin-bottom: 0;
}

.hero-text-box nav .input-field .search-results {
    margin: 0;
    border-radius: 0px;
    background-color: #fff;
    max-height: 310px;
    overflow-y: auto;
}

.collection .collection-item {
    line-height: 0.8em;
}

.collection a.collection-item, .collection .collection-item.avatar .title, 
.collapsible .collapsible-header, .collapsible .collapsible-body,
p.authors, .collection-header, .chip, td, .review-body, .review-title {
    color: #576366;
}

.review-details, p.book-title, .brand-logo {
    color: #2980b9 !important;
}

.collection .collection-item.avatar .title, .collection-header,
.collapsible .collapsible-header, .chip, .review-title, .review-details, .sentiment {
    font-weight: 700;
}

.collection .collection-item.avatar .title, .collapsible .collapsible-body, .review-title, .sentiment {
    font-size: 14px;
}

.collapsible .collapsible-header, td, .review-body {
    font-size: 15px;
}

.collection-header, p.book-title {
    font-size: 19px;
    margin-bottom: 1px;
}

p.book-title {
    font-weight: 900;
}

.collection-item.avatar p.author, p.authors, .chip, .review-details {
    font-size: 12px;
}

.collection-item.avatar p.right-align.pub-year {
    font-size: 11px;
}

p.authors {
    display: inline;
}

.search-loader {
    margin-top: 15px; 
    float: center;
}

#main-content {
    margin-top: 50px;
}

.book-cover {
    width: 100%;
    height: 200px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.collapsible .collapsible-body {
    padding-top: 12px;
    padding-bottom: 12px;
}

p.authors .chip {
    margin-left: 7px;
}

hr {
    margin: 10px auto;
    height:0; 
    border:0; 
    border-top:1px solid #ddd;
}

#similar-books-box {
    position: fixed;
    width: 385px;
    border-radius: 0px;
}

#similar-books {
    max-height: 470px;
}

td {
    padding: 2px 5px;
}

td.col-name {
    width: 35%;
}